#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
  transition: right 2s;
}
#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
  right: 200;
}

.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
}
